body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}

h3 {
  text-align: center;
}
